{{ 'slide-collection.css' | asset_url |  stylesheet_tag }}

<section class="slide-collection-inner ">
    <div class="collection-title">
        {{ section.settings.collection.title }}
    </div>

    <div class="collection-group swiper-wrapper">
        {% for product in section.settings.collection.products %}
            <div class="collection-item swiper-slide">
                <div class="item-img">
                    <div class="item-badge">{{ product.tags }}</div>
                    {% for option in product.options_with_values %}
                        {% if option.name == "Color" %}
                            {% for value in option.values %}
                                <a href="{{ product.url }}" class="featured-img-color" id="img-{{ value.variant.id }}"><img src="{{ value.variant.image |  img_url: 'medium'}}" alt=""></a>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <div class="alert"></div>
                </div>
                <div class="item-content">
                    <div class="product-condition">
                        <p><img src="{{ 'imperfect.png' |  asset_img_url  }}" alt="">Imperfect Container</p>
                    </div>
                    <div class="product-color">
                        {% for option in product.options_with_values %}
                            {% if option.name == "Color" %}
                                {% for value in option.values %}
                                    <span class="color-img-item" target="img-{{ value.variant.id }}" style="background-color: {{ value.name }};">{{ value.variant.id }}</span>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card__desc">
                        <h3 class="product-name">{{ product.title }}</h3>
                        <div class="product-content">
                            {{ product.description }}
                        </div>
                    </div>
                    <div class="card__information">
                        <div class="price">
                            <div class="new-price">{{ product.price | money }}</div>
                            <div class="old-price">RRP:{{ product.compare_at_price |  money }}</div>
                        </div>
                        <div class="save">
                            save {{ product.compare_at_price |  minus: product.price |  times: 100 |  divided_by:  product.compare_at_price }} %
                        </div>
                    </div>

                    <product-form class="product-form" data-section-id="{{ section.id }}">
                        {%- form 'product',
                            product,
                            id: product_form_id,
                            class: 'form',
                            novalidate: 'novalidate',
                            data-type: 'add-to-cart-form'
                        -%}
                            <input
                            type="hidden"
                            name="id"
                            value="{{ product.selected_or_first_available_variant.id }}"
                            {% if product.selected_or_first_available_variant.available == false
                                or quantity_rule_soldout
                                or product.selected_or_first_available_variant == null
                            %}
                                disabled
                            {% endif %}
                            class="product-variant-id"
                            >
                            <div class="product-form__buttons">
                                <button
                                    id="ProductSubmitButton-{{ section_id }}"
                                    type="submit"
                                    name="add"
                                    class="add-to-cart product-form__submit button button--full-width {% if show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
                                    {% if product.selected_or_first_available_variant.available == false
                                        or quantity_rule_soldout
                                        or product.selected_or_first_available_variant == null
                                    %}
                                    disabled
                                    {% endif %}
                                >
                                    <span>
                                    {%- if product.selected_or_first_available_variant == null -%}
                                        {{ 'products.product.unavailable' | t }}
                                    {%- elsif product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                                        {{ 'products.product.sold_out' | t }}
                                    {%- else -%}
                                        {{ 'products.product.add_to_cart' | t }}
                                    {%- endif -%}
                                    </span>
                                    {%- render 'loading-spinner' -%}
                                </button>
                            </div>
                        {%- endform -%}
                        </product-form>

                    <p class="order">
                        Min.order:2 units
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

</section>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

<script>
    var swiper = new Swiper('.slide-collection-inner', {
        slidesPerView: 5,
        spaceBetween: 30,
        loop : true,
        breakpoints : {
            990 : {
                slidesPerView: 5,
                spaceBetween: 30,
            },
            650 : {
                slidesPerView : 3,
                spaceBetween : 70,
            },
            500 : {
                slidesPerView: 2.5,
                spaceBetween: 30,
            },
            425 : {
                slidesPerView: 2,
                spaceBetween: 30,
            },
            320 : {
                slidesPerView: 1.5,
                spaceBetween: 30,
            },
        },

    })

    document.querySelectorAll('.collection-item').forEach(ele => {
        ele.querySelectorAll('.color-img-item').forEach(element => {
            element.addEventListener('click', function () {
                
                ele.querySelector('.product-form .product-variant-id').value = this.innerHTML;
                ele.querySelectorAll('.featured-img-color').forEach(item => {
                    item.style.display = 'none';
                })
                document.querySelector(`#${this.getAttribute('target')}`).style.display = "block";
            })
        })
        ele.querySelector('.color-img-item').click();
    })
    

</script>

{% schema %}
    {
        "name": "Slide Collection",
        "class": "slide-colleition page-width",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
        ],
        "presets": [
          {
            "name": "Custom Slide Collection",
          }
        ],
    }
{% endschema %}
